SUPABASE_URL=https://bcyhmtiaufpqivauiiuw.supabase.co
SUPABASE_KEY=sb_publishable_BMPJgm-29PqoDPoFX_JXeg_U9PlMYnQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjeWhtdGlhdWZwcWl2YXVpaXV3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjY2MjY3NiwiZXhwIjoyMDkyMjM4Njc2fQ.jOM2gI4LQpwzL9e9tQVdM_Kxstwdsq_q-Z4oz7dDI-g
FLASK_SECRET_KEY=your_flask_secret_key
PROMPTPAY_ID=0812345678
